.add-restaurant-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .add-restaurant-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .add-restaurant-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .add-restaurant-form input,
  .add-restaurant-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-restaurant-form button {
    width: 100%;
    padding: 10px;
    background-color: #520617;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-restaurant-form button:hover {
    background-color: #3e0e11;
  }
  